<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/main.css" />

</head>

<body>
    <div class="container" style="height:100vh;width:100%">
        <br />
        <div class="row" style="height:90vh">
            <div class="column" style=" width: 54%;overflow: auto;">
                <div>
                    <p style="font-size:9px !important">
                        Use this grid to note which combinations have been eliminated or selected.
                        <br />
                        Click the box once to place an <img src='../static/images/cross.png' alt='Avatar' style='width:12px;' />. Click the same box again to place an <img src='../static/images/circle.png' alt='Avatar' style='width:12px;' />.  Click the same box a third time to remove the <img src='../static/images/circle.png' alt='Avatar' style='width:12px;' />.
                    </p>
                </div>
                <table class="table table-bordered table-sm" style="height:85%;">
                    <thead>
                        <tr>
                            <th colspan="2" rowspan="2"></th>
                            <th colspan="5" align="center"><div class="horizontal">Office Location</div></th>
                            <th colspan="5" align="center"><div class="horizontal">Role</div></th>
                            <th colspan="5" align="center"><div class="horizontal">Project Hours/Week</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2"></td>
                            <td><div class="vertical">New York</div></td>
                            <td><div class="vertical">Boston</div></td>
                            <td><div class="vertical">Chicago</div></td>
                            <td><div class="vertical">Seattle</div></td>
                            <td><div class="vertical">Los Angeles</div></td>

                            <td><div class="vertical">Network Architect</div></td>
                            <td><div class="vertical">Quality Assurance Engineer</div></td>
                            <td><div class="vertical">Systems Analyst</div></td>
                            <td><div class="vertical">Cyber Security Specalist</div></td>
                            <td><div class="vertical">Database Administrator</div></td>

                            <td><div class="vertical">4</div></td>
                            <td><div class="vertical">6</div></td>
                            <td><div class="vertical">8</div></td>
                            <td><div class="vertical">10</div></td>
                            <td><div class="vertical">12</div></td>
                        </tr>
                        <tr>
                            <td rowspan="5"><div class="vertical">Name</div></td>
                            <td><div class="horizontal">Alex</div></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                        </tr>
                        <tr>
                            <td><div class="horizontal">Leon</div></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                        </tr>
                        <tr>
                            <td><div class="horizontal">Michael</div></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                        </tr>
                        <tr>
                            <td><div class="horizontal">Rachel</div></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                        </tr>
                        <tr>
                            <td><div class="horizontal">Tina</div></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                        </tr>
                        <tr>
                            <td rowspan="5">
                                <div class="vertical">Project Hours per Week</div>
                            </td>
                            <td><div class="horizontal">4</div></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><div class="horizontal">6</div></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><div class="horizontal">8</div></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><div class="horizontal">10</div></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><div class="horizontal">12</div></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td rowspan="5"><div class="vertical">Role</div></td>
                            <td><div class="horizontal">Network Architect</div></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><div class="horizontal">Quality Assurance Engineer</div></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><div class="horizontal">Systems Analyst</div></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><div class="horizontal">Cyber Security Specalist</div></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><div class="horizontal">Database Adminstrator</div></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td class="click"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

                <!--<table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Team Member</th>
                            <th scope="col">Role</th>
                            <th scope="col"># Project hours/week</th>
                            <th scope="col">Office Location</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>Alex</td>
                            <td>
                                <select class="form-control form-control-sm">
                                    <option>Role 1</option>
                                    <option>Role 2</option>
                                    <option>Role 3</option>
                                    <option>Role 4</option>
                                    <option>Role 5</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control form-control-sm">
                                    <option>Role 1</option>
                                    <option>Role 2</option>
                                    <option>Role 3</option>
                                    <option>Role 4</option>
                                    <option>Role 5</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control form-control-sm">
                                    <option>Role 1</option>
                                    <option>Role 2</option>
                                    <option>Role 3</option>
                                    <option>Role 4</option>
                                    <option>Role 5</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Leon</td>
                            <td>
                                <select class="form-control form-control-sm">
                                    <option>Role 1</option>
                                    <option>Role 2</option>
                                    <option>Role 3</option>
                                    <option>Role 4</option>
                                    <option>Role 5</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control form-control-sm">
                                    <option>Role 1</option>
                                    <option>Role 2</option>
                                    <option>Role 3</option>
                                    <option>Role 4</option>
                                    <option>Role 5</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control form-control-sm">
                                    <option>Role 1</option>
                                    <option>Role 2</option>
                                    <option>Role 3</option>
                                    <option>Role 4</option>
                                    <option>Role 5</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Michael</td>
                            <td>
                                <select class="form-control form-control-sm">
                                    <option>Role 1</option>
                                    <option>Role 2</option>
                                    <option>Role 3</option>
                                    <option>Role 4</option>
                                    <option>Role 5</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control form-control-sm">
                                    <option>Role 1</option>
                                    <option>Role 2</option>
                                    <option>Role 3</option>
                                    <option>Role 4</option>
                                    <option>Role 5</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control form-control-sm">
                                    <option>Role 1</option>
                                    <option>Role 2</option>
                                    <option>Role 3</option>
                                    <option>Role 4</option>
                                    <option>Role 5</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Rachel</td>
                            <td>
                                <select class="form-control form-control-sm">
                                    <option>Role 1</option>
                                    <option>Role 2</option>
                                    <option>Role 3</option>
                                    <option>Role 4</option>
                                    <option>Role 5</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control form-control-sm">
                                    <option>Role 1</option>
                                    <option>Role 2</option>
                                    <option>Role 3</option>
                                    <option>Role 4</option>
                                    <option>Role 5</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control form-control-sm">
                                    <option>Role 1</option>
                                    <option>Role 2</option>
                                    <option>Role 3</option>
                                    <option>Role 4</option>
                                    <option>Role 5</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Tina</td>
                            <td>
                                <select class="form-control form-control-sm">
                                    <option>Role 1</option>
                                    <option>Role 2</option>
                                    <option>Role 3</option>
                                    <option>Role 4</option>
                                    <option>Role 5</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control form-control-sm">
                                    <option>Role 1</option>
                                    <option>Role 2</option>
                                    <option>Role 3</option>
                                    <option>Role 4</option>
                                    <option>Role 5</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control form-control-sm">
                                    <option>Role 1</option>
                                    <option>Role 2</option>
                                    <option>Role 3</option>
                                    <option>Role 4</option>
                                    <option>Role 5</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>-->


            </div>
            <div class="column" style="width: 46%;border:solid #808080 0.5px;height: 95vh;">
                <div id="chatDiv" style="height:80vh;overflow:auto">
                    
                </div>


                <div>
                    <div class="form-group row" style="">
                        <div class="col-lg-10">
                            <input class="form-control inputBar" id="userMessage" type="text" placeholder="Type something here . . .">
                            <button class="submit-button" id="submitButton">Submit</button>
                        </div>
                        <div class="col-lg-2" style="float:right">
                            <button class="next-button" id="nextButton">Next ❯</button>
                        </div>
                    </div>
                    <input hidden id="sessionId">
                    <input hidden id="condition">
                    <input hidden id="topic">
                    <input hidden id="index">
                    <input hidden id="userInputType">
                    <input hidden id="userName">
                    <input hidden id="response">
                    <input hidden id="timeTaken">
                    <input hidden id="gridAction">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="conditionSetupModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="display:block !important">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pick Condition</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <h6>Autonomy</h6>
                        </div>
                        <div class="col-md-6">
                            <label class="radio-inline">
                                <input type="radio" value="L" name="autonomyOption" checked>Low
                            </label>
                            <label class="radio-inline" style="padding-left:10px">
                                <input type="radio" value="H" name="autonomyOption">High
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h6>Relatedness</h6>
                        </div>
                        <div class="col-md-6">
                            <label class="radio-inline">
                                <input type="radio" value="L" name="relatednessOption" checked>Low
                            </label>
                            <label class="radio-inline" style="padding-left:10px">
                                <input type="radio" value="H" name="relatednessOption">High
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h6>Competency</h6>
                        </div>
                        <div class="col-md-6">
                            <label class="radio-inline">
                                <input type="radio" value="L" name="competencyOption" checked>Low
                            </label>
                            <label class="radio-inline" style="padding-left:10px">
                                <input type="radio" value="H" name="competencyOption">High
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="conditionSelectButton" type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>

        </div>
    </div>

    <script src="../static/main.js"></script>
</body>

<!--<div class="bot_msg_div">
    <div class="bot_msg_img">
        <img src="../static/images/bot.png"
             alt="Avatar" style="width:100%;">
    </div>
    <div class="bot_msg_main_div">
        <div class="bot_msg_inner_div">
            <p>
                Test which is a new approach to have all
                solutions
            </p>
            <span class="time_date"> 11:01 AM    |    June 9</span>
        </div>
    </div>
</div>
<div class="user_msg_div">
    <div class="user_msg_img">
        <img src="../static/images/user.png"
             alt="Avatar" style="width:100%;">
    </div>
    <div class="user_msg_main_div">
        <p>
            Test which is a new approach to have all
            solutions
        </p>
        <span class="time_date"> 11:01 AM    |    June 9</span>
    </div>
</div>-->

</html>